body {background-color: black; color: white; font-family: Cambria, serif;}

h1, h4 {text-align: center; color: red;}

.heading {background-color: #c47f26; font-family: "Brush Script MT", cursive; color: #000000; font-weight: 1000;}

h1 {border-style: groove; border-width: 0.5em 0.5em; border-color: red; padding: 5px;}

img {border-style: hidden; border-width: thick; border-color: red; border-radius: 1em; margin: 0 40px; display: block; margin-left: auto; margin-right: auto; width: 50%}

h4 {margin: 20px 40px;}

a {color: #f4e24a;}